<div class ="my-container" style = "text-align:center; height: 100%; background-color: rgb(255,255,255);">
	<div class="jumbotron jumbotron-my">
	<div class="container text-center">
  <h1 class="display-3" style =" font-size: 2.5em; font-weight: 700; line-height: 1.5;">Welcome to <span class="l-green">Greater Harvest Church of God in Christ</span></h1>
  <p class="lead" style = "font-size: 1.6em; max-width: 700px; margin: auto;">The Greater Harvest family would like to take this opportunity to let you know how much we appericiate your presence with us.</p>
  <hr class="my-2">
  <p style = "font-size: 1.2em;">The services we provide are extremely encouraging and inspiring. We hope to see you soon.</p>
    <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
                       <div class="modal-dialog" role="document">
                         <div class="modal-content modal-content-own" style="background-color: rgba(255,255,255,0.9);">
                           <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                             <h4 class="modal-title" id="gridModalLabel">Order of Service</h4>
                           </div>
                           <div class="modal-body">
                             <div class="container-fluid bd-example-row">
                               <div class="row">
                                 <div class="col-sm-12">
                                   Sunday Services
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       Sunday School
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       10:00 AM
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       Morning Service
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       11:45 AM
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       Y.P.W.W. (Youth Service)
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       06:30 PM
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       Evangelist Hour
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       07:30 PM
                                     </div>
                                   </div>
                                 </div>
                               </div>
                               <hr>
                               <!---------->
                               <div class="row">
                                 <div class="col-sm-12">
                                   Tuesday Night Service
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       Bible Blind
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       07:30 PM
                                     </div>
                                   </div>
                                 </div>
                               </div>
                               <hr>
                               <!-------->
                               <div class="row">
                                 <div class="col-sm-12">
                                   Friday Night Service
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       1st Friday of Month
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       Pastor's Aid
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       2nd Friday of Month
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       Bible Study
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       3rd Friday of Month
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       Youth Night
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       4th Friday of Month
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       Men's Night
                                     </div>
                                   </div>
                                    <div class="row">
                                     <div class="col-xs-8 col-sm-6">
                                       5th Friday of Month
                                     </div>
                                     <div class="col-xs-4 col-sm-6">
                                       Pastoral Forum
                                     </div>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </div>
                           <div class="modal-footer">
                              <center><a href="/contact.html"><button type="button" class="btn btn-secondary btn-md">Contact Us</button></a></center>
                            </div>
                         </div>
                       </div>
                     </div>

</div>

 </div>
 <div class="bd-example bd-example-padded-bottom" style = "margin-bottom: 2em;">
   <button type="button" class="btn btn-outline-warning btn-lg" data-toggle="modal" data-target="#gridSystemModal">
     Services
   </button>
</div>
</div>

<hr class="my-4">


<div class="container">
<div class="row" style="font-weight: 900; text-align: center; margin: 3em auto; color: #0c4569;"><h1 class="display-3"> Stay Connected <br> <span style = "color: #2081bf">with us</span></h1></div>
  <div class="row" style = "text-align: center;">
    <div class="col-xs-12 col-sm-6">
    <div id="slogan" data-text="Events"></div>
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/GreaterHarvestD">Tweets by GreaterHarvestD</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-xs-12 col-sm-6">
    <h1 style="font-weight: 700;
	font-size: 2em;
	color: #2081bf;	
  	margin-bottom: 0.5em;">Donation & Charity</h1>
    <div class ="container" style="border: 4px solid #0c4569; height :400px; background: url(/assets/dnc.jpg) no-repeat center center;" >
    
    </div> 
    </div>
  </div>
</div>


  <hr class="my-4" style="margin-top: 3em;"> 

  <div class="container">
  	<div class="row" style="font-weight: 900; text-align: center; margin: 3em auto; color: rgb(97, 147, 41);"><h1 class="display-3"> Our <u>Mission</u></h1></div>
  	<div class="row">
  		<div class="jumbotron" style = "background-color: rgba(221, 230, 239, 1);  max-width: 1000px; margin: auto;">
  			<p class="lead"><b>|</b> To Fulfill The Great Commission as stated in the Holy Bible - "Go ye therefore into all
the world and preach the gospel to every creature.<br><br>
<b>|</b> To Fulfill The Great Commandment as stated in the Bible "To love your neighbor as
yourself'<br><br><b>|</b>
To Become Laborers For Christ - 'The harvest is plentiful but the laborers are
few ... pray therefore the Lord of the harvest would send forth laborers into His
harvest"<br><br><b>|</b>
Our mission is to share the gospel of Jesus Christ and bring hope to families,
neighborhoods and communities so that the lost can receive the abundant life that
comes through God's redemptive power and His divine love.<br><br><b>|</b>
Our mission is to incorporate new saints into the church and orientate them to the
teachings contained in the Holy Bible, helping them to understand and communicate to
others God's standard of righteous living and enabling them to live complete and holy
lives.<br><br><b>|</b>
Our mission is to provide help and resources for those who are in need and fostering the
spirit of fellowship within families, community and among believers.</p>
  		</div>
  	</div>
  </div>

  <hr class="my-4" style="margin-top: 3em;"> 
